_INTERFACE=wg0
_OUTBOUND_INTERFACE=eth0
_VPN_NET=192.168.99.0/24
_DNS_SERVERS=1.1.1.1,1.0.0.1
_SERVER_PORT=51820
_SERVER_LISTEN=wg.example.com:$_SERVER_PORT
_SERVER_PUBLIC_KEY=
_SERVER_PRIVATE_KEY=
# Be sure to use a PostUp hook to source peers.conf
_USE_COMMON_PEERS_CONF=0
